
@media only screen and (min-width: 0px) and (max-width: 999px){
    .tank-stations-container{
        display: grid;
        grid-template-rows: repeat(3, 30%);
        justify-content: center;
        align-self: center;
        gap: 50px
    }
}

@media only screen and (min-width: 1000px){
    .tank-stations-container{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: center;
        align-self: center;
        gap: 50px
    }
}

.tank-station-container{
    display: grid;
    grid-template-rows: 40% 30% 30%;

    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid hsla(36, 100%, 98%, 0.68);
    background-color: hsla(36, 83%, 93%, 0.492);
    box-shadow: 10px 10px 10px rgb(255, 231, 231);
    padding: 20px;
    box-sizing: border-box;

}

.tank-station-container > img{
    max-width: 100%;
    max-height: 100%;

    height: auto;
    width: auto;
    
    /* margin: auto; */

    align-self: flex-end;
    justify-self: center;



    display: block;

    /* box-sizing: border-box;
    border: 1px solid black; */
}

.tank-station-container > .price-fluctuation{
    

    text-align: center;
    font-family:'Tektur';
    font-size: 6rem;
    letter-spacing: .1rem;
}

.tank-station-container > .price-fluctuation.neutral{
    color: #828282
}

.tank-station-container > .price-fluctuation.positive{
    color: #FF0000
}

.tank-station-container > .price-fluctuation.negative{
    color: #2BFF00
}

.price-label-container {
    align-self: center;

    display: flex;

    flex-direction: row;
    justify-content: center;
    align-items: flex-start; /* Align items' top borders */
    
    font-family: 'Tektur';
    font-size: 6rem;
}

.price-label-container > * {
    border: 3px solid hsl(0, 0%, 0%, 20%);
    box-shadow: 0px 5px 5px  hsl(0, 0%, 0%, 20%);

    padding: 0px 10px;
    margin: 0px 5px;

    height: 6.5rem;
    width: 4rem;

    border-radius: 10px;

    display: flex;
    align-items: center; /* Vertically center the content within each item */
    justify-content: center; /* Optionally center the text horizontally */

}

.price-label-container > .price-label-seperator {
    border: none;
    box-shadow: none;
    padding: 0px 1px;
    margin: 0px 5px;
    width: 1rem;

    border-radius: 10px;

    position: relative;
    top: 20px;
}

.price-label-container > .price-label-mini-digit {
    align-self: flex-start;


    border-radius: 10px;
    height: 3.1rem;
    width: 2rem;
    padding: 0px 4px;
    font-size: 2.8125rem;
    text-shadow: 1px 1px 2px hsl(0, 0%, 0%, 70%);

}